html {
    height: 100%
}
body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#1A4A1C, #308834);
    font-family: 'Roboto';
    font-style: "thin";
    color: white;
    align-items: center;
}
h1 {
    font-size: 72px;
}
li {
    display: inline-block;
    list-style-type: none;
}
#startButton {
    background-color: black;
    color: white;
}
#setHand {
    background-color: black;
    color: white;
}
img {
    max-height: 150px;
    position: static;
    transform: rotate(5deg);
    z-index: 2;
}
table, th, td {
  background-color: white;  
  border: 1px dotted black;
  color:black;
  text-align: center;
  
}